<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head('Авторизация')}"></head>
<body>
<div th:replace="fragments/header :: guest_navbar"></div>

<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                       style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">GameStore - добро пожаловать</h4>
                </div>

                <form th:action="@{/login}" method="post">
                  <p>Войдите в ваш аккаунт</p>

                  <div class="form-outline mb-4">
                    <div th:if="${param.error}">
                      Неверно введены почта или пароль
                    </div>
                    <div th:if="${param.logout}">
                      Вы успешно вышли из аккаунта
                    </div>
                    <label class="form-label" for="form2Example11">Логин</label>
                    <input type="text" id="form2Example11" class="form-control"
                           placeholder="" name="username"/>
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example22">Пароль</label>
                    <input type="password" id="form2Example22" class="form-control" name="password" />
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Войти</button>
                  </div>

                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">У вас нет акаунта?</p>
                    <a href="auth/reg" type="button" class="btn btn-outline-danger">Зарегестрируйтесь</a>
                  </div>

                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center" style="background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4" >
                <h4 class="mb-4">Играйте в игры с удовольствие!</h4>
                <p class="small mb-0">Хотите играть в игры и не хотите искать обходные пути для
                приобретения игр? Тогда вам у нас точно понравится. Топ игры по доступной цене у нас.
                Добро пожаловать!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>